body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00; 
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

.socials a {
    margin: 0 10px;
    color: #000000;
    font-size: 35px;
}
#download-cv{
    font-weight: bold;
    background-color: black; 
    color: white;
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 5px; 
}

#download-cv:hover {
    background-color: gray; 
    color: black; 
}
.loadingScreen {
    position: fixed; 
    z-index: 9999; 
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #000000; 
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    animation: spin 1s linear infinite; 
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    margin-top: 20px; 
    font-size: 24px; 
    color: #ffffff; 
    font-weight: bold;
}
#about p {
    font-size: 20px;
}
#contact p {
    font-size: 20px;
}
